#sweets_base {
  position: absolute;
  left: 90px;
  display: none;
}

#choco {
  position: absolute;
  left: 90px;
  display: none;
}

#arazan {
  position: absolute;
  left: 90px;
  display: none;
}

#cream {
  position: absolute;
  left: 220px;
  display: none;
}

#berry {
  position: absolute;
  top: 110px;
  left: 250px;
  display: none;
}

#candle_b {
  position: absolute;
  left: 90px;
  display: none;
}

#candle_r {
  position: absolute;
  left: 380px;
  display: none;
}

#orange {
  position: absolute;
  left: 380px;
  display: none;
}

#apple {
  position: absolute;
  left: 90px;
  display: none;
}

#sum_number {
  position: absolute;
  font-family: 'Galindo', cursive;
  font-size: 400px;
  top: 250px;
  left: 450px;
}
