#sweets_base {
  position: absolute;
  left: 10px;
  display: none;
}

#choco {
  position: absolute;
  left: 10px;
  display: none;
}

#arazan {
  position: absolute;
  left: 10px;
  display: none;
}

#cream {
  position: absolute;
  left: 140px;
  display: none;
}

#berry {
  position: absolute;
  top: 110px;
  left: 170px;
  display: none;
}

#candle_b {
  position: absolute;
  left: 10px;
  display: none;
}

#candle_r {
  position: absolute;
  left: 300px;
  display: none;
}

#orange {
  position: absolute;
  left: 300px;
  display: none;
}

#apple {
  position: absolute;
  left: 10px;
  display: none;
}
