<h1>投票有難うございました</h1>

<table>
  <thead>
    <tr>
      <th>チーム</th>
      <th>得点</th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @votes) do |vote| %>
      <td><%= vote.team.name %></td>
      <td><%= vote.sata %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '戻る', root_path %>
